body {
   margin: 1%;
   padding: 1%;
   min-height: 100%;
}

header {

   width: 100%;
   height: 5%;
}

.wrapper {
   display: flex;
   min-height: 100vh;
   justify-content: center;
   align-items: center;
}

.container {
   display: flex;
   flex: 1 0 100%;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   font-size: 24px;
}

.container h2 {
   flex: 1 0 100%;
   margin: 5px;
   align-items: stretch;
   text-align: center;
}

.time-card {
   display: flex;
   white-space: nowrap;

}

button {
   background-color: navy;
   color: white;
   border-radius: 6px;
   font-size: 24px;
}

button:hover {
   background-color: blueviolet;
}


.choices-button {
   margin-top: 1%;
}

.choices-button button {
   width: 100%;
   padding: 5px;
}

#result {
   font-size: 24px;
   text-align: center;
   padding: 5px;
}

.enter-initials-card{
   font-size:20px;
}

.enter-initials-card form{
   align-items: center;
}
   

#highscore {
   text-align: center;
}

#highscore h3 {
   background-color: yellow;
   border: 1px solid black;
}

#yourscore {
   color: white;
   background-color: rgb(0, 128, 47);
}

#yourscore h3 {
   border: 1px solid black;
}

#highscore ol {
   border: 2px solid black;
}

#highscore li {
   background-color: purple;
   color: white;
   border: 1px solid black;
}